           #screen > #desktop > #programBar > #myCoumputer > .pc{
                height: 500px;
                width: 900px;
                background-color: rgb(237, 233, 240);
                position: relative;
                top: -100px;
                left: 250px;
                border-radius: 10px;
                visibility: hidden;
                /* transition: 0.1s; */
                border-radius: 10px;
            }

            #screen > #desktop > #programBar > #myCoumputer > .sel2{
                visibility: visible;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar1{
                height: 8%;
                width: 100%;
                border-bottom: 1px solid rgb(156, 142, 167);
                background-color: rgb(201, 190, 211);
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                display: flex;
                justify-content: right;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar1 > div{
                width: 50px;
                height: 100%;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar1 > div:hover:not(.close){
                background-color: rgb(215, 207, 223);
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar1 > .close:hover{
                background: url(../images/close1.png) no-repeat 50%;
                background-size: 50%;
                background-color: red;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar1 > .close{
                background: url(../images/close.png) no-repeat 50%;
                background-size: 50%;
                border-top-right-radius: 10px;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar1 > .minimize{
                background: url(../images/minimize.png) no-repeat 50%;
                background-size: 50%;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar1 > .small{
                background: url(../images/rectangle.png) no-repeat 50%;
                background-size: 50%;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar2{
                height: 8%;
                width: 100%;
                border-bottom: 1px solid rgb(156, 142, 167);
                background-color: rgb(229, 221, 235);
                display: flex;
                justify-content: left;
                flex-flow: row;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar2 > div:hover:not(.add, .search){
                background-color: rgb(241, 235, 245);
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar2 > .left,
            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar2 > .right,
            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar2 > .up,
            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar2 > .turn{
                height: 100%;
                width: 6%;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar2 > .left{
                background: url(../images/left.png) no-repeat 50%;
                background-size: 60%;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar2 > .right{
                background: url(../images/right.png) no-repeat 50%;
                background-size: 60%;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar2 > .up{
                background: url(../images/up.png) no-repeat 50%;
                background-size: 60%;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar2 > .turn{
                background: url(../images/turn.png) no-repeat 50%;
                background-size: 40%;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar2 > .add{
                height: 100%;
                width: 50%;
                margin-left: 10px;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar2 > .add > input{
                height: 90%;
                width: 100%;
                border-radius: 10px;
                border: 0 none;
                text-indent: 10px;
                font-size: 15px;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar2 > .search{
                height: 100%;
                width: 30%;
                margin-left: 20px;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar2 > .search > input{
                height: 90%;
                width: 90%;   
                border-radius: 10px;
                border: 0 none;
                text-indent: 10px;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar3{
                height: 8%;
                width: 100%;
                border-bottom: 1px solid rgb(156, 142, 167);
                display: flex;
                justify-content: left;
                flex-flow: row;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar3 > div{
                height: 100%;
                width: 6%;
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar3 > div:hover{
                background-color: rgb(220, 209, 228);
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar3 > .new{
                width: 9%;
                background: url(../images/add.png) no-repeat 0 50%;
                background-size: 25%;
                text-indent: 30px;
                font-size: 18px;
                text-align: center;
                margin-right: 15px;
                border-right: 1px solid rgb(156, 142, 167);
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar3 > .cut{
                background: url(../images/scissors.png) no-repeat 50%;
                background-size: 40%;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar3 > .copy{
                background: url(../images/copy.png) no-repeat 50%;
                background-size: 40%;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar3 > .paste{
                background: url(../images/paste.png) no-repeat 50%;
                background-size: 40%;
                opacity: 50%;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar3 > .delete{
                background: url(../images/delete.png) no-repeat 50%;
                background-size: 40%;
                border-right: 1px solid rgb(156, 142, 167);
                margin-right: 20px;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar3 > .sort{
                width: 9%;
                background: url(../images/sort.png) no-repeat 15% 50%;
                background-size: 25%;
                text-indent: 30px;
                font-size: 18px;
                text-align: center;
                margin-right: 5px;
                display: flex;
                justify-content: center;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar3 > .view{
                width: 9%;
                background: url(../images/screen.png) no-repeat 10% 50%;
                background-size: 25%;
                text-indent: 30px;
                font-size: 18px;
                text-align: center;
                margin-right: 300px;
                display: flex;
                justify-content: center;
            } 

            #screen > #desktop > #programBar > #myCoumputer > .pc > .bar3 > .details{
                width: 9%;
                background: url(../images/detail.png) no-repeat 5% 50%;
                background-size: 25%;
                text-indent: 30px;
                font-size: 18px;
                text-align: center;
            } 

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder{
                height: 75.5%;
                width: 100%;
                display: flex;
                justify-content: center;
                flex-flow: row;
                border-bottom-right-radius: 10px;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar4{
                width: 20%;
                height: 100%;
                border-right: 1px solid rgb(156, 142, 167);
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar4 > div{
                height: 35px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                
                font-size: 15px !important;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar4 > div:hover:not(.holder){
                background-color: rgb(156, 142, 167);
                cursor: pointer;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar4 > .desktop{
                background: url(../images/desktop.png) no-repeat 10% 50%;
                background-size: 15%;
                font-size: 18px;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar4 > .downloads{
                background: url(../images/download.png) no-repeat 10% 50%;
                background-size: 15%;
                font-size: 18px;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar4 > .documents{
                background: url(../images/document.png) no-repeat 10% 50%;
                background-size: 15%;
                font-size: 18px;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar4 > .pictures{
                background: url(../images/picture.png) no-repeat 10% 50%;
                background-size: 15%;
                font-size: 18px;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar4 > .videos{
                background: url(../images/video.png) no-repeat 10% 50%;
                background-size: 15%;
                font-size: 18px;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar4 > .music{
                background: url(../images/music.png) no-repeat 10% 50%;
                background-size: 15%;
                font-size: 18px;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar4 > .gallery{
                background: url(../images/gallery.png) no-repeat 10% 50%;
                background-size: 15%;
                font-size: 18px;
                border-bottom: 1px solid #ccc;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar4 > .pc{
                background: url(../images/thispc.png) no-repeat 10% 50%;
                background-size: 15%;
                font-size: 15px;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar4 > .holder{
                height: 60px;
                width: 92%;
                display: flex;
                flex-flow: wrap;
                margin-left: 15px
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar4 > .holder > .c{
                background: url(../images/localdisk.png) no-repeat 10% 50%;
                background-size: 15%;
                height: 50%;
                width: 100%;
                text-indent: 50px;
                display: flex;
                align-items: center;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar4 > .holder > .c:hover{
                background-color: rgb(156, 142, 167);
                cursor: pointer;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar4 > .holder > .d:hover{
                background: url(../images/disk2.png) no-repeat 10% 50%;
                background-size: 15%;
                background-color: rgb(156, 142, 167);
                cursor: pointer;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar4 > .holder > .d{
                background: url(../images/disk3.png) no-repeat 10% 50%;
                background-size: 15%;
                height: 50%;
                width: 100%;
                text-indent: 50px;
                display: flex;
                align-items: center;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar4 > .network{
                background: url(../images/network.png) no-repeat 10% 50%;
                background-size: 15%;
                font-size: 18px;
                border-bottom-left-radius: 10px;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar5{
                width: 80%;
                height:100%;
                background-color: #fff;
                border-bottom-right-radius: 10px;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar5 > .device{
                width: 99.7%;
                height:30px;
                border: 1px solid #ccc;
                text-indent: 30px;
                display: flex;
                align-items: center;
                margin-top: 5px;
                background: url(../images/arrow2.png) no-repeat 1% 55%;
                background-size: 3%;
                transition: 0.1s;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar5 > .device:hover{
                background-color: rgb(156, 142, 167);
                cursor: pointer;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar5 > .holder{
                width: 718px;
                height:80px;
                display: flex;
                align-items: center;
                gap: 20px;
                margin-top: 5px;
                visibility: hidden;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar5 > .sel3{
                visibility: visible;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar5 > .holder > div{
                width: 300px;
                height:50px ;
                display: flex;
                align-items: center;
                margin-left: 10px;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar5 > .holder > .c{
                background: url(../images/c.png) no-repeat 10% 50%;
                background-size: 80%;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar5 > .holder > .c > .box{
                height: 10px;
                width: 10px;
                border: 2px solid #ccc;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar5 > .holder > .c:hover{
                border: 5px solid rgb(237, 233, 240);
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar5 > .holder > .d{
                background: url(../images/d.png) no-repeat 10% 50%;
                background-size: 80%;
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar5 > .holder > .d > .box{
                height: 10px;
                width: 10px;
                border: 2px solid #ccc;
            } 

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar5 > .holder > .d:hover{
                border: 5px solid rgb(237, 233, 240);
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar5 > .holder > .sel{
                border: 5px solid rgb(156, 142, 167);
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar5 > .holder > .sel:hover{
                border: 5px solid rgb(156, 142, 167);
            }

            #screen > #desktop > #programBar > #myCoumputer > .pc > .holder > .bar5 > .holder > .sel > .box{
                background-color: blue;
            } 